@charset "UTF-8";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html 
{
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    height : 99%;
    min-width : 1400px;
}

@-ms-viewport 
{
    width: device-width;
}

body 
{
    margin: 0;
    font-family: Noto Sans KR,sans-serif;
    font-size: 20px;
    /* line-height: 1.5em; */
    color: #222222;
    text-align: left;
    background-color: #FFFFFF;
    height : 100%;
    width : 99%;
    display : inline-block;
}

/* top */
.top
{
    
}

.top .top-area
{
    width : 100%;
    display : flex;
    align-items: center;
    background-color: #142c67;
    font-size : 22px;
    height : 50px;
    padding-left : 2%;
    color : white;
    font-weight: 800;
    justify-content: space-between;
}

.top .top-area .toggle
{
    padding-right: 30px;
}

/* mid */
.mid
{
    
}

.mid .mid-area
{
    height : auto;
    width : 100%;
    display : flex;
    flex-direction : row;
    flex-wrap : wrap;
    margin-top : 10px;
}

.mid .mid-area .select-symbol-border
{
    width : 100%;
    height : 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #142c67;
    margin: 10px;
    border-radius: 10px;
}

.mid .mid-area .select-symbol
{
    width : 99.5%;
    height : 290px;
    display : flex;
    flex-wrap : wrap;
    box-sizing: border-box;
    padding : 2%;
    overflow-y: scroll;
    justify-content: space-between;
}

.mid-area .items
{
    width : 7%;
    height : 50px;
    border : 1px solid gray;
    border-radius: 10px;
    font-size : 12px;
    display : flex;
    align-items: center;
    justify-content: center;
    margin : 5px;
    padding : 5px;
    cursor : pointer;
}

.mid-area .items:hover
{
    background-color : #142c67;
    color : white;
    font-weight: 600;
}

.mid-area .check-active
{
    background-color : #142c67;
    color : white;
    font-weight: 600;
}

.mid .mid-area-use
{
    width : 100%;
    height : auto;
}

.mid .mid-area-use .use-border
{
    width : 100%;
    height : auto;
    margin : 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mid .mid-area-use .use-border .items
{
    width: 340px;
    height: 650px;
    border: 3px solid #142c67;
    border-radius: 10px;
    margin: 1px;
    box-sizing: border-box;
}

.mid .mid-area-use .use-border .items .top
{
    width : 100%;
    height : 70px;
    display : flex;
}

.mid .mid-area-use .use-border .items .top .name
{
    width : 310px;
    height : 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: 600;
}

.mid .mid-area-use .use-border .items .top .exit
{
    width : 30px;
    height : 70px;
    display: flex;
    align-items: center;
    cursor : pointer;
    font-weight: 600;
    color: gray;
}

.mid .mid-area-use .use-border .items .top .exit:hover
{
    color : red;
}

.mid .mid-area-use .use-border .items .line
{
    height : 5px;
    background-color: #142c67;
    margin : 0;
}

.mid .mid-area-use .use-border .items .bottom
{
    width : 100%;
    height : 730px;
}

.mid .mid-area-use .use-border .items .bottom table
{
    width : 100%;
    height : 30px;
}

.mid .mid-area-use .use-border .items .bottom table thead
{
    width : 100%;
    height : 100%;
}

.mid .mid-area-use .use-border .items .bottom table thead .time
{
    width : 50%;
    height : 30px;
}

.mid .mid-area-use .use-border .items .bottom table thead th
{
    width : 25%;
    height : 30px;
    border : 1px solid;
    text-align: center;
    font-size: 14px;
    background-color : yellow;
}

.mid .mid-area-use .use-border .items .bottom table tbody th
{
    font-size : 14px;
    height : 40px;
    text-align: center;
    border : 1px solid;
}

.mid .mid-area-use .use-border .items .bottom table tbody .imp_line
{
    background-color : #142c67;
    color : white;
    font-weight: 600;
}

.mid .mid-area-use .use-border .items .bottom table tbody tr .up
{
    background-color: red;
}

.mid .mid-area-use .use-border .items .bottom table tbody tr .down
{
    background-color: blue;
}

/* bottom */
.bottom
{
    
}

/* option */
.btn-action
{
    color : red;
    font-size : 17px;
    font-weight: 600;  
}